@model IEnumerable<FirstTask.Models.DbModels.Project>
@{
    ViewData["Title"] = "Home Page";
}
<div class="cube-wrapper cube-wrapper-right">
    <div class="cube cube1"></div>
    <div class="cube cube2"></div>
    <div class="cube cube3"></div>
</div>
<div class="cube-wrapper cube-wrapper-left">
    <div class="cube cube1"></div>
    <div class="cube cube2"></div>
    <div class="cube cube3"></div>
</div>
<div class="container-fluid">
    <div class="row justify-content-between justify-content-md-center align-items-center">
        <div class="col-2 col-md-2 arr arr--left align-self-center">
            <img src="~/img/arr_right.png" />
        </div>
        <div class="col-8 col-md-3 text-center">
            <h1>LOREM IPSUM</h1>
            <h2>$9 000 000</h2>
            <p class="description">Amet minim mollit</p>
        </div>
        <div class="col-2 col-md-2 arr align-self-center">
            <img src="~/img/arr_right.png" />
        </div>
    </div>
    <div class="container">
        @*<div class="row justify-content-center">
            <div class="col-2"><a asp-action="Create">Добавить проект</a></div>
        </div>*@
        <div class="row align-items-center justify-content-center projects-wrapper">
            @foreach (var project in Model)
            {
                <div class="col-3 col-md-2 offset-md-1 projects">
                    <p>@project.Name</p>
                </div>
            }
        </div>
        <div class="row justify-content-center">
            <div class="col-2 text-center"><a asp-action="Projects">Подробнее</a></div>
        </div>
        @*<table class="table">
            <tbody>
                @foreach (var project in Model)
                {
                <tr>
                    <td scope="row">@project.Name</td>
                    <td><a asp-action="Edit" asp-controller="Home" asp-route-id="@project.Id">Изменить</a>
                    <a asp-action="Delete" asp-controller="Home" asp-route-id="@project.Id">Удалить</a></td>
                </tr>
                }
            </tbody>
        </table>*@
    </div>
</div>