@{
    ViewData["Title"] = "Home Page";
}
    <div class="cube-wrapper cube-wrapper-right">
        <div class="dec1"></div>
        <div class="dec2"></div>
        <div class="dec3"></div>
    </div>
    <div class="cube-wrapper cube-wrapper-left">
        <div class="dec1"></div>
        <div class="dec2"></div>
        <div class="dec3"></div>
    </div>
<div class="container-fluid">
    <div class="row justify-content-center align-items-center">
        <div class="col-2 arr arr--left align-self-center">
            <img src="~/img/arr_right.png" />
        </div>
        <div class="col-3 text-center">
            <h1>LOREM IPSUM</h1>
            <h2>$9 000 000</h2>
            <p class="description">Amet minim mollit</p>
        </div>
        <div class="col-2 arr align-self-center">
            <img src="~/img/arr_right.png" />
        </div>
    </div>
    <div class="container">
        <div class="row align-items-center justify-content-center ads">
            <div class="col-2">
                <p>UNIVERSITY</p>
                <p>IT SERVICES</p>
                <p>GAMES</p>
            </div>
            <div class="col-2">
                <p>AUTO</p>
                <p>DESIGN</p>
                <p>CHARITABLE FOUNDATION</p>
            </div>
            <div class="col-2">
                <p>MESSENGER</p>
                <p>WORKSPACE</p>
                <p>PLANNER</p>
            </div>
            <div class="col-2">
                <p>CALENDAR</p>
                <p>GOVERNMENT SERVICES</p>
                <p>COVID 19</p>
            </div>
        </div>
        <div class="row justify-content-center align-items-center learn">
            <button>LEARN MORE</button>
        </div>
    </div>
</div>