@model string

    <div class="container">
        <form asp-action="Create" method="post" class="text-center">
            <div class="form-group">
                <label for="name">Новая роль</label>
                <input name="name" class="form-control" />
            </div>
            <button type="submit" class="btn btn-primary">Добавить</button>
        </form>
    </div>