<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FirstTask</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <div class="container-fluid">
            <div class="navbar bg-white box-shadow notifs">
                <div class="col-1 col-md-1">
                    <img src="~/img/search.png" width="15" height="15" />
                </div>
                <div class="col-8 col-md-2 offset-md-8">
                    <img src="~/img/supp.png" width="25" height="15" />
                    <img src="~/img/notif.png" width="17" height="17" />
                    <img src="~/img/deals.jpg" width="25" height="15" />
                    <img src="~/img/web.png" width="17" height="17" />
                    <img src="~/img/other.png" width="20" height="17" />
                </div>
                <nav class="col-3 col-md-1">
                    <button value="SIGN IN">SIGN IN</button>
                </nav>
            </div>
            <nav class="navbar bg-white pr-0 navs">
                <div class="col-1 col-md-2"><img src="~/img/astin.png" width="40" height="30" /></div>
                <div class="col-8 offset-3 col-md-2 offset-md-8 links-wrapper">
                    <a href="#">HOME</a>     <a href="#">ABOUT US</a>     <a href="#">CONTACTS</a>
                </div>
            </nav>
        </div>
    </header>
    <main role="main" class="pb-3 main">
        @RenderBody()
    </main>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
