/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
html {
    position: relative;
    min-height: 100%;
}


.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}


button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

button {
    outline: none;
}

.notifs img {
    margin-left: 15px;
}

.notifs {
    padding: 7px 0;
}

.notifs button {
    padding: 0.1px 2px;
    background-color: transparent;
    color: slategrey;
    border-color: slategrey
}

.navs {
    margin-top:10px;
}

.arr {
    vertical-align: middle;
}
.arr--left {
    transform: rotate(180deg);
}

.arr img {
    width: 50px;
    height: 50px;
}

.main {
    padding: 190px 0 !important;
    position: relative;
}

.cube-wrapper {
    position: absolute;
    width: 250px;
    height: 250px;
}

.cube-wrapper-right {
    top: 0;
    right: 0;
}

.cube-wrapper-left {
    bottom: 0;
    left: 0;
    transform: scale(-1, -1);
}

.cube {
    position: absolute;
    background-image: linear-gradient(to bottom, #87CEFA, #fff);
    opacity: 0.7;
}

.cube1 {
    width: 180px;
    height: 200px;
    right: 0;
    top: 0;
    background: linear-gradient( 180deg, rgba(123, 215, 254, 0.6) 0%, rgba(255, 255, 255, 0) 100%), rgba(135, 243, 254, 0.2);
}

.cube2 {
    width: 100px;
    height: 100px;
    right: 110px;
    top: 125px;
    background: linear-gradient( 180deg, rgba(123, 215, 254, 0.2) 0%, rgba(255, 255, 255, 0) 100%), rgba(135, 243, 254, 0.1);
}

.cube3 {
    width: 50px;
    height: 50px;
    right: 180px;
    top: 195px;
    background: linear-gradient( 180deg, rgba(123, 215, 254, 0.2) 0%, rgba(255, 255, 255, 0) 100%), rgba(135, 243, 254, 0.05);
}

@media screen and (max-width: 768px) {
    .cube-wrapper {
        position: absolute;
        width: 150px;
        height: 150px;
    }

    .cube1 {
        width: 90px;
        height: 100px;
        right: 0;
        top: 0;
        background: linear-gradient( 180deg, rgba(123, 215, 254, 0.6) 0%, rgba(255, 255, 255, 0) 100%), rgba(135, 243, 254, 0.2);
    }

    .cube2 {
        width: 50px;
        height: 50px;
        right: 55px;
        top: 65px;
        background: linear-gradient( 180deg, rgba(123, 215, 254, 0.2) 0%, rgba(255, 255, 255, 0) 100%), rgba(135, 243, 254, 0.1);
    }

    .cube3 {
        width: 25px;
        height: 25px;
        right: 90px;
        top: 110px;
        background: linear-gradient( 180deg, rgba(123, 215, 254, 0.2) 0%, rgba(255, 255, 255, 0) 100%), rgba(135, 243, 254, 0.05);
    }
}

.links-wrapper a {
    color: #708090;
    align-items: end;
    font-size: 12px;
    font-weight:bold;
    padding: 0 7px;
}

.learn button {
    border-color: #87CEFA;
    color: #00bfff;
}

.projects p {
    font-size: 12px;
    color: #708090;
}

.description {
    font-size: 25px;
}

.projects-row a+a {
    padding-left: 50px;
}

.signOut {
    padding-right: 30px;
}

